<div class="row">
  <div class="col-md-5">
    <!-- when recipeSelectedOutput changes the code selectedRecipe = $event; is executed-->
    <app-recipe-list
      (selectedRecipeOutput)="selectedRecipe = $event;"
    >
    </app-recipe-list>
  </div>
  <div class="col-md-7">
    <!-- recipeInput is set to selectedRecipe. if selectedRecipe is undefined, we display infoText instead-->
    <app-recipe-detail
      *ngIf="selectedRecipe; else infoText"
      [recipeInput]="selectedRecipe"
    >
    </app-recipe-detail>
    <ng-template #infoText>Please select a recipe.</ng-template>
  </div>
</div>
